html, body {
    height: 100%;
    margin: 0;
}


.field {
    background-image: url('soccer-field-1.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;           
}

.player {
    width: 160px;
    position: absolute;
    top: 0;
    left: 200px;
    transition: 1s linear;
}

.stop {
    position: absolute;
    bottom: 0;
    right: 200px;
    padding: 5px 10px;
    background-color: #ad493e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: crosshair;
}