div{
    background-color:#2d3e4f;
    height: 300px;
    position: relative;
    align-items: center;
    
}
.dugme { 
    margin:0 auto;
    margin-top: 30px;
    margin-left: 47%;
    background-color: #c1392b;
    border: none;
    color: white;
  padding: 5px 15px;
  border-radius: 3px;
}

.dugme2 { 
    margin:0 auto;
    margin-top: 15px;
    margin-left: 50%;
    background-color: #fdbf28;
    border: none;
    color: white;
  padding: 5px 15px;
  border-radius: 3px;
}

.lightcolor {
    background-color: white;
}